.ipynb_checkpoints/
AerialImageDataset/
preprocessedDataset/
landcover/
dataset_landcover/
output/
dataset/
logs/
training_checkpoints/
NEW2-AerialImageDataset.zip
aerialimagelabeling.7z.001
aerialimagelabeling.7z.002
aerialimagelabeling.7z.003
aerialimagelabeling.7z.004
aerialimagelabeling.7z.005
landcover.ai.v1.zip